<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxq.mapper.ArticleMapper">
	<resultMap type="com.cxq.mapper.ArticleMapper" id="art">
		<id property="art_id" column="art_id" />
		<result property="title" column="title" />
		<result property="article" column="article" />
		<result property="id" column="id" />
	</resultMap>
	<insert id="saveArticle" parameterType="com.cxq.pojo.Article">
		insert into
		article(title,article,id)
		values(#{title},#{article},#{id});
	</insert>
	<select id="queryArticles" parameterType="int" resultType="com.cxq.pojo.Article">
		select * from article where id = #{i};
	</select>
	<update id="updateArticle" parameterType="com.cxq.pojo.Article">
		update article
		set
		title=#{title},article=#{article}
		where art_id=#{art_id}
	</update>
</mapper>