<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>输入修改</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

</head>
<body>
	ID:<p th:text="${note.id}"></p>
	笔记标题：<p th:text="${note.title}"></p>
	笔记内容:<p th:text="${note.content}"></p>
	输入修改:
	<form th:action="@{/note/modify(id=${note.id})}" method="post">
		笔记标题：<input type="text" name="title"/><br/>
		笔记内容：<textarea id="content" name="content" rows="15" cols="20"></textarea><br/>
		<input type="submit" value="提交"/><br/>
	</form>
    <script>
		var simplemde = new SimpleMDE({ element: document.getElementById("content") });
    </script>
</body>
</html>